<p>services works!</p>

<h2>{{ "title" | translate }}</h2>

<div>
  <input id="username" pInputText [(ngModel)]="deviceName" />
  <input id="username" pInputText [(ngModel)]="watts" />
  <p-button (click)="setValue()" label="Set value" />
  <hr />
</div>

<h2>{{ "welcome" | translate }}</h2>

@if (welcome.length > 0) {
<div>{{ welcome | json }}</div>
} @else {
<div>{{ "welcome404" | translate }}</div>
}

<h2>{{ "calculations" | translate }}</h2>

@if (calculations.length > 0) {
<div>{{ calculations | json }}</div>
} @else {
<div>{{ "calculations404" | translate }}</div>
}

<h2>{{ "devices" | translate }}</h2>

@if (devices.length > 0) {
<div>{{ devices | json }}</div>
} @else {
<div>{{ "devices404" | translate }}</div>
}

<h2>Single Device</h2>
<p>{{ singleDevice | json }}</p>

<h2>{{ "weatherForecast" | translate }}</h2>

@if (weatherForecasts.length > 0) { @for (weatherForecast of weatherForecasts;
track $index) {
<div>
  <div>Date: {{ weatherForecast.date }}</div>
  <div>Temperature (C): {{ weatherForecast.temperatureC }}</div>
  <div>Summary: {{ weatherForecast.summary }}</div>
</div>
<hr />
} } @else {
<div>{{ "weatherForecast404" | translate }}</div>
}
