<h2>{{ "title" | translate }}</h2>

<button (click)="useLanguage('en')">en</button>
<button (click)="useLanguage('lt')">lt</button>

<h2>Welcome service</h2>
<p>{{ welcome }}</p>

<h2>{{ "calculations" | translate }}</h2>

@if (calculations.length > 0) {
<div>{{ calculations | json }}</div>
} @else {
<div>{{ "calculations404" | translate }}</div>
}

<h2>{{ "weatherForecast" | translate }}</h2>

@if (weatherForecasts.length > 0) { @for (weatherForecast of weatherForecasts;
track $index) {
<div>
  <div>Date: {{ weatherForecast.date }}</div>
  <div>Temperature (C): {{ weatherForecast.temperatureC }}</div>
  <div>Summary: {{ weatherForecast.summary }}</div>
</div>
<hr />
} } @else {
<div>{{ "weatherForecast404" | translate }}</div>
}
