<h2>Testing the communication between Angular and ASP.NET Core</h2>

<h2>Calculations</h2>

@if (calculations.length > 0) {
<div>{{ calculations | json }}</div>
} @else {
<div>Calculations API did not return anything.</div>
}

<h2>Weather Forecasts</h2>

@if (weatherForecasts.length > 0) { @for (weatherForecast of weatherForecasts;
track $index) {
<div>
  <div>Date: {{ weatherForecast.date }}</div>
  <div>Temperature (C): {{ weatherForecast.temperatureC }}</div>
  <div>Summary: {{ weatherForecast.summary }}</div>
</div>
<hr />
} } @else {
<div>Weather forecasts API did not return anything.</div>
}
