<div class="calculation-form">
  <div>
    <label for="deviceName">Device name: </label>
    <input type="text" pInputText [(ngModel)]="device_name" />
  </div>
  <div>
    <label for="watts">Watts: </label>
    <p-inputnumber
      inputId="integeronly"
      [(ngModel)]="user_watts"
      (ngModelChange)="makeCalculations()"
    />
  </div>
  <div>
    <label for="cost_per_kwh">Kilovatvalandes kaina: </label>
    <p-inputNumber
      inputId="cost_per_kwh"
      [(ngModel)]="cost_per_kwh"
      (ngModelChange)="makeCalculations()"
      mode="currency"
      inputId="currency-lithuania"
      currency="EUR"
      locale="lt-LT"
    ></p-inputNumber>
  </div>
</div>

<div class="results">
  <p>kilowatts: - {{ kilowatts | number }}</p>
  <p>Hourly cost: - {{ hourly_cost | currency : "EUR" }}</p>
  <p>Daily cost: - {{ daily_cost | currency : "EUR" }}</p>
  <p>Weekly cost: - {{ weekly_cost | currency : "EUR" }}</p>
  <p>Monthly cost: - {{ monthly_cost | currency : "EUR" }}</p>
  <p>Yearly cost: - {{ yearly_cost | currency : "EUR" }}</p>
</div>

<p-button label="Save" (onClick)="saveCalculations()" />

<app-calculations-list></app-calculations-list>
