<div class="calculation-form">
  <div>
    <label for="watts">Watts: </label>
    <p-inputnumber
      inputId="integeronly"
      [(ngModel)]="user_watts"
      (ngModelChange)="makeCalculations()"
    />
  </div>
</div>

<div class="results">
  <p>kilowatts: - {{ kilowatts | number }}</p>
  <p>Hourly cost: - {{ hourly_cost | currency : "EUR" }}</p>
  <p>Daily cost: - {{ daily_cost | currency : "EUR" }}</p>
  <p>Weekly cost: - {{ weekly_cost | currency : "EUR" }}</p>
  <p>Monthly cost: - {{ monthly_cost | currency : "EUR" }}</p>
  <p>Yearly cost: - {{ yearly_cost | currency : "EUR" }}</p>
</div>
